/* centers.page.scss */
@use '../home/home.page' as *; /* можно переиспользовать базовые классы */
.section { padding: 24px 0; }
.section__header { display:flex; align-items:center; justify-content:space-between; }
.controls {
  display:flex;
  gap:12px;
  align-items:center;
  margin-bottom:12px;
  flex-wrap:wrap;
  margin-top: 20px;
  max-width: 300px;

  input {
    width: 100%;
  }
}
.grid { display:grid; grid-template-columns:repeat(12,1fr); gap:12px; margin-top: 30px; }
.card { grid-column: span 12; background: var(--p-card-background); border:1px solid var(--p-card-border-color); border-radius: var(--p-card-border-radius); box-shadow: var(--p-card-shadow); }
@media (min-width:640px){ .card{ grid-column: span 6; } }
@media (min-width:960px){ .card{ grid-column: span 4; } }
.card__cover { position: relative; height: 160px; overflow: hidden; }
.card__cover img { width: 100%; height: 100%; object-fit: cover; display: block; }
.cover-badges { position: absolute; left: 12px; bottom: 12px; display: flex; gap: 8px; }
.meta { display: flex; gap: 12px; margin-top: 8px; flex-wrap: wrap; }
.meta i { margin-right: 6px; color: var(--p-primary-color); }

.paginator {
  margin-top: 16px;
  border: 1px solid var(--p-surface-border);
  border-radius: var(--p-card-border-radius);
  background: var(--p-content-background);
}
.paginator-hint {
  margin-top: 6px;
}
